html {
  background-color: #414faa !important;
}

/* hr {
  clear: both;
  display: block;
  width: 96%;
  background-color: #000000 !important;
  height: 1px;
} */

/* hr.solid {
   !important;
} */
